# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
    - '*'
  tags:
    include:
    - '*'

jobs:

- job: 'Test'
  pool:
    vmImage: 'macos-10.14'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      brew install snappy
      CPPFLAGS="-I/usr/local/include -L/usr/local/lib" python -m pip install python-snappy

  - script: python -m pip install --upgrade -r developer_requirements.txt
    displayName: 'Install dependencies'

  - script: |
      ./run-tests.sh
      codecov
    displayName: 'pytest'

  - script: |
      echo $(build.sourcebranch)
      if [[ $(build.sourcebranch) == "refs/tags"* ]]; then
        FASTAVRO_USE_CYTHON=1 python setup.py bdist_wheel
        ./.azure_upload.sh github_api_token=$(github_api_token) tag=$(python setup.py --version) filename=./dist/fastavro-*.whl
      else
        echo "not a tagged commit"
      fi
    displayName: 'build and release wheel'
    condition: succeeded()
