include README.md ChangeLog *.sh *.cmd
include Makefile
include *.txt
include tox.ini
include pytest.ini
include mypy.ini
include .flake8.cython
include Dockerfile
include LICENSE

recursive-include conda.recipe *
recursive-include fastavro *.c
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include fastavro *.pyx
recursive-include fastavro *.pyi
recursive-include fastavro *.py
recursive-include fastavro py.typed
recursive-include tests *.avro
recursive-include tests *.avsc
recursive-include tests *.py
